.featured-cat {
	overflow: auto;
	.woocommerce {
		> .products {
			display: flex;
			align-items: center;
			padding: 2em;
			.product {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 15px;
				margin: 1em;
				box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

@media (max-width: 800px) {
	.products {
		flex-wrap: wrap;
	}
	.product {
		flex: 1 1 auto;
	}
}
.woocommerce-LoopProduct-link {
	.onsale {
		border-radius: 50%;
		width: 3.5em;
		height: 3.5em;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		position: absolute;
		right: -25px;
		margin-top: -2em;
	}
}

.woocommerce-LoopProduct-link {
	width: 100%;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
.add_to_cart_button,
button {
	border-radius: 2px;
	box-shadow: 1px 5px 9px 4px rgba(0, 0, 0, 0.06);
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 1.5em;
	padding: 0.5em;
	margin: 1em 0;
	width: 100%;
	margin-bottom: 0;
}

.products {
	overflow-y: auto;
	max-width: 100%;
}
.type-product {
	width: 100%;
}

.woocommerce-product-gallery__wrapper > figure {
	width: 100%;
}

.cart > button {
	width: 150px;
	margin: auto;
	margin-left: 0;
}
