.quantity > input[type="button"] {
	overflow: hidden;
	position: relative;
	background-color: #f9f9f9;
	text-shadow: 1px 1px 1px #fff;
	color: #666;
	border: 1px solid #ddd;
	text-transform: none;
	font-weight: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 45px;
}

.quantity input[type="number"] {
	max-width: 2.5em;
	width: 2.5em;
	text-align: center;
	border-radius: 0 !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	appearance: textfield;
	font-size: 1em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.text-center .quantity,
.quantity {
	opacity: 1;
	display: inline-block;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 1em;
	white-space: nowrap;
	vertical-align: top;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.cart {
	display: flex;
}

.variations_form {
	display: flex;
	flex-direction: column;
}

.woocommerce-product-gallery > figure {
	width: 100%;
}

.wc-tabs {
	width: 100%;
	background: #ebebeb;
	li {
		padding: 0.5rem;
		transition: 0.3s all;
		a {
			font-size: 0.75rem;
		}
	}
	.active {
		background: #fff;
	}
}
.wc-tabs li.active a {
	border-bottom: none !important;
	transition: 0.3s all;
	font-weight: bold;
}

.price {
	font-weight: bold;
}

.related,
.product.type-product,
.woocommerce-breadcrumb,
.woocommerce-notices-wrapper,
.woocommerce-Reviews {
	margin: auto 2.5rem;
}

.woocommerce-Reviews,
.comment-form-cookies-consent {
	width: 100%;
}
#review_form_wrapper {
	padding: 2.5rem;
	border: 2px solid blue;
	border-radius: 0.25rem;
}

.comment-form {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.comment-form-comment {
	width: 100%;
	.comment > textarea {
		height: 100px;
	}
}
.related > h2,
#comments > h2 {
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	padding-left: 2.5rem;
	//margin-bottom: -1rem;
	background: #e2e2e2;
	border-radius: 0.25rem;
	font-size: 2.25rem;
}

.related > .products .product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
	margin: 1em;
	box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.prod-info > p {
	margin: 2.5rem;
}

.woocommerce-noreviews {
	display: none;
}

.comment-form > p {
	display: flex;
	flex-direction: column;
	textarea,
	input {
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		border: 1px solid #ebebeb;
		border-radius: 0.25rem;
	}
}
.comment_container {
	display: flex;
	margin: 1.5rem auto;
	.comment-text {
		padding-left: 0.5rem;
	}
}

@media (min-width: 768px) {
	.comment-form-author,
	.comment-form-email {
		width: 45%;
		float: left;
	}
}
