.hero {
	.banner-cta {
		i {
			animation: 2s breathe infinite;
		}
	}
	img {
		object-fit: cover;
		object-position: center;
		top: 0;
		width: 100%;
		min-height: 300px;
		height: 100%;
		position: absolute;
		z-index: 1;
	}
}

@keyframes breathe {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0px);
	}
}
